<!DOCTYPE html>
<html>

<head>
	<title>Universiter oran 1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800" rel="stylesheet">
</head>

<body>

	<body>
		<div class="header" id="home">
			<div class="top">
				<div class="container">
					<div class="col-md-9 top-left">
						<ul>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran.dz">Mail@univ-oran.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran1.dz">Mail@univ-oran1.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@doctorant">Mail@doctorant</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 top-middle">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="top-bar">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html">
								<img src="images/logo.jpg" height="65" />
							</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="index.html" class="active">Acceuil</a>
								</li>
								<li>
									<a href="about.html">Universiter</a>
								</li>
								<li>
									<a href="">Bibliotheque</a>
								</li>
								<li>
									<a href="about.html">Faculter</a>
								</li>
								<li>
									<a href="about.html">Nos Srvices</a>
								</li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post-Graduation
										<span class="caret"></span>
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="inscription.html">inscription en ligne-Doctorat</a>
										</li>
										<li>
											<a href="login.html">Espace etudiant</a>
										</li>
										<li>
											<a href="./enseignant/login.html">Espace enseignant</a>
										</li>
										<li>
											<a href="./admin/index.html">Espace Administrateur</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</nav>
				</div>
			</div>
			<div class="slider">
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="slider-img1">
								<div class="container">
									<div class="slider_banner_info">
										<h4>Cinquantenaire de l'Université d'Oran
											<span>Lire plus ...</span>
										</h4>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="slider-img2">
								<div class="container">
									<div class="slider_banner_info">
										<h4>Stage de perfectionnement à l’étranger
											<span>Lire plus ...</span>
										</h4>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="slider-img3">
								<div class="container">
									<div class="slider_banner_info">
										<h4>تهــــــــــــاني السيد مــــدير الجـــامـعة بمناسبة حلول شهر رمضان المبارك
											<span>Lire plus ...</span>
										</h4>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="agile-services">
			<div class="container">
				<div class="agileits-services">
					<div class="services-right-grids">
						<div class="col-sm-3 services-right-grid">
							<div class="se-top">
								<div class="services-icon">
									<i class="fa fa-graduation-cap" style="font-size:54px"></i>
									<p>VRPS</p>
								</div>
								<div class="services-icon-info">
									<p>Vice-rectorat de la formation supérieure de graduation, de la formation continue et des diplomes</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 services-right-grid">
							<div class="se-top">
								<div class="services-icon">
									<i class="fa fa-graduation-cap" style="font-size:54px"></i>
									<p>VRPG</p>
								</div>
								<div class="services-icon-info">
									<p>Vice-rectorat de la formation supérieure de POST-graduation, de L'habilitation universitaire et de la recherche
										scientifique </p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 services-right-grid">
							<div class="se-top">
								<div class="services-icon">
									<i class="fa fa-graduation-cap" style="font-size:54px"></i>
									<p>VRDPO</p>
								</div>
								<div class="services-icon-info">
									<p>Vice-rectorat du développement et de la prospective et de l'orientation</p>
								</div>
							</div>
						</div>
						<div class="col-sm-3 services-right-grid">
							<div class="se-top">
								<div class="services-icon">
									<i class="fa fa-graduation-cap" style="font-size:54px"></i>
									<p>VRRE</p>
								</div>
								<div class="services-icon-info">
									<p>Vice-rectorat des relations extérieures, de la coopération, de l'animation et de la communication et des manifestations
										scientifiques
									</p>
								</div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="about">
			<div class="container">
				<div class="about-main">
					<div class="about-right">
						<h3 class="subheading-agile">Les Faculté</h3>
						<p class="para-agileits">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio, sed interdum
							risus.
						</p>
						<div class="stats">
							<div class="stats_inner">
								<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
									<img class="round" width="150" height="150" src="https://www.univ-oran1.dz/images/logo-service/fac-snv.jpg" width="150" />
									<div class="stats-text-wthree">
										<h3>Sciences de la nature et de la vie</h3>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
									<img class="round" width="150" height="150" src="https://www.univ-oran1.dz/images/logo-service/fac-sea.jpg" width="150" />
									<div class="stats-text-wthree">
										<h3>Sciences exactes et appliquées</h3>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
									<img class="round" width="150" height="150" src="https://www.univ-oran1.dz/images/logo-service/fac-med.jpg" />
									<div class="stats-text-wthree">
										<h3>Médecine </h3>
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-6 stat-grids">
									<img class="round" width="150" height="150" src="https://www.univ-oran1.dz/images/logo-service/fac-arabe.jpg" width="150"
									/>
									<div class="stats-text-wthree">
										<h3>artsLettres, des arts </h3>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="events-section">
			<div class="container">
				<h3 class="title-txt two">
					<span>A</span>ctualités</h3>
				<div class="col-sm-4 live-grids-ls">
					<div class="live-left1">
						<img src="images/g1.jpg" alt=" " class="img-responsive">
					</div>
					<div class="live-info">
						<ul>
							<li>
								<span class="fa fa-calendar-o" aria-hidden="true"></span> Juin 08, 2018</li>
						</ul>
						<h4>CALL FOR PAPERS</h4>
						<p class="para-1"> The scope of SaCoNet is to deal with the growing smart communications fields embedded in complex systems for a wide
							variety of applications in the future generation of network and cloud computing technologies...</p>
					</div>
				</div>
				<div class="col-sm-4 live-grids-ls">
					<div class="live-left2">
						<img src="images/g2.jpg" alt=" " class="img-responsive">
					</div>
					<div class="live-info">
						<ul>
							<li>
								<span class="fa fa-calendar-o" aria-hidden="true"></span> Juin 08, 2018</li>
						</ul>
						<h4>The AAF 2018 Summer University</h4>
						<p class="para-1">The Algerian-American Foundation for Culture, Education, Science and Technology (AAF-CEST) and The University of Sciences
							and Technologies Houari Boumédiene (USTHB), University Batna 2 with the support of: the DGRSDT, Ministry of Higher
							Education and Scientific Research are pleased to announce the AAF 2018 Summer .</p>
					</div>
				</div>
				<div class="col-sm-4 live-grids-ls">
					<div class="live-left3">
						<img src="images/g6.jpg" alt=" " class="img-responsive">
					</div>
					<div class="live-info">
						<ul>
							<li>
								<span class="fa fa-calendar-o" aria-hidden="true"></span> Juin 08, 2018</li>
						</ul>
						<h4>Visibilité de notre université</h4>
						<p class="para-1"> Vice rectorat de la formation de troisième cycle, l’habilitation universitaire, la recherche scientifique et la formation
							supérieure de post-graduation .</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="experience">
			<div class="container">
				<h3 class="title-txt">
					<span>I</span>nformations et bourses</h3>
				<div class="experience-info">
					<div class="col-md-7 exp-matter">
						<div class="exp-left">
							<div class="ex-lt">
								<h6>14
									<span>MAR</span>
								</h6>
							</div>
							<div class="ex-rt">
								<h5>La Maison du Doctorant de l'Université d'Oran</h5>
								<p>0 COMMENTS,</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="exp-left">
							<div class="ex-lt">
								<h6>16
									<span>MAR</span>
								</h6>
							</div>
							<div class="ex-rt">
								<h5>'Université Oran1 prend en charge ses publications</h5>
								<p> 0 COMMENTS,</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="exp-left">
							<div class="ex-lt">
								<h6>18
									<span>MAR</span>
								</h6>
							</div>
							<div class="ex-rt">
								<h5>L'Assurance Qualité de l'Université Oran1</h5>
								<p> 0 COMMENTS,</p>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="exp-left">
							<div class="ex-lt">
								<h6>18
									<span>MAR</span>
								</h6>
							</div>
							<div class="ex-rt">
								<h5>Inscription / Réinscription en post-graduation (Magister, Doctorat....</h5>
								<p> 0 COMMENTS,</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-5 exp-info-right">
						<div class="ex-top">
							<h4>Programmes & Bourses</h4>
							<div class="row">
								<div class="col-md-6">
									<img class="bourses" src="https://www.univ-oran1.dz/images/bourses/index.png" height="100" />
								</div>
								<div class="col-md-6">
									<img class="bourses" src="https://www.univ-oran1.dz/images/bourses/Aristotle-University.png" height="100" />
								</div>
								<div class="col-md-6">
									<img class="bourses" src="https://www.univ-oran1.dz/images/bourses/grenade.png" height="100" />
								</div>
								<div class="col-md-6">
									<img class="bourses" src="https://www.univ-oran1.dz/images/bourses/UPVD_logo.svg.png" height="100" />
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="f-bg-l">
					<div class="col-md-4 footer_grid">
						<h3>FACULTÉS</h3>
						<ul>
							<li>Faculté des sciences exactes et appliquées</li>
							<li>Faculté des sciences de la nature et de la vie</li>
							<li>Faculté de médecine</li>
							<li>Faculté des lettres,des arts</li>
							<li>Faculté des sciences humaines et de la civilisation islamique</li>
							<li>Institut des Sciences et Techniques Appliquées (ISTA)</li>
						</ul>
					</div>
					<div class="col-md-4 footer_grid hpft">
						<h3>Contact Us</h3>
						<ul class="con_inner_text">
							<li>
								<span class="fa fa-map-marker" aria-hidden="true"></span>Lorem ipsum dolor sit amet</li>
							<li>
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
								<a href="mailto:info@example.com">info@univ1.com</a>
							</li>
							<li>
								<span class="fa fa-phone" aria-hidden="true"></span> +2134 567 56007</li>
						</ul>
					</div>
					<div class="col-md-4 footer_grid">
						<h3>LIENS UTILES</h3>
						<ul>
							<li>Ministère de l'Enseignement Supérieur et de la Recherche Scientifique (MESRS)</li>
							<li>Direction Générale de la Recherche Scientifique et du Développement Technologique (DG-RSDT)</li>
							<li>Textes Reglementaires (TR)</li>
							<li>Publications Universitaires</li>
							<li>Agence universitaire de la Francophonie</li>
							<li>Conférence Régionale des Universités de l'Ouest CRUO</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<p class="copyright">© 2018 All Rights Reserved | Design by Amine-Smahi & Oussama Bonnor</p>
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
				// Slideshow 3
				$("#slider3").responsiveSlides({
					auto: true,
					pager: false,
					nav: true,
					speed: 500,
					namespace: "callbacks",
					before: function () {
						$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<script defer src="js/jquery.flexslider.js"></script>
		<a href="#home" id="toTop" style="display: block;">
			<span id="toTopHover" style="opacity: 1;"> </span>
		</a>
		<script src="js/bootstrap.js"></script>
	</body>

</html>