<!DOCTYPE html>
<html>

<head>
	<title>login Post-Graduation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,800" rel="stylesheet">
</head>

<body>

	<body>
		<div class="header">
			<div class="top">
				<div class="container">
					<div class="col-md-9 top-left">
						<ul>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran.dz">Mail@univ-oran.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@univ-oran1.dz">Mail@univ-oran1.dz</a>
							</li>
							<li>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
								<a href="mailto:Mail@doctorant">Mail@doctorant</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 top-middle">
						<ul>
							<li>
								<a href="#">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="top-bar">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="index.html">
								<img src="images/logo.jpg" height="65" />
							</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="reinscription.html">Reinscription</a>
								</li>
								<li>
									<a href="recourt.html">Recours</a>
								</li>
								<li>
									<a href="index.html">Deconnecter</a>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</nav>
				</div>
			</div>
			<div class="banner">
			</div>
		</div>
		<section class="contact">
			<div class="container">
				<h3 class="title-txt">
					<span>C</span>ontact Us</h3>
				<div class="contact-grids">
					<div class=" col-md-12 contact-form">
						<h4 class="heading">Demande recours</h4>
						<form action="#" method="post">
							<label>Sujet : </label>
							<input type="text" placeholder="" required="" />
							<label>Detaile</label>
							<textarea placeholder="Message" required=""></textarea>
							<div class="submit1" align="center">
								<br>
								<input type="submit" value="Envoyer">
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<div class="footer">
			<div class="container">
				<div class="f-bg-l">
					<div class="col-md-4 footer_grid">
						<h3>FACULTÉS</h3>
						<ul>
							<li>Faculté des sciences exactes et appliquées</li>
							<li>Faculté des sciences de la nature et de la vie</li>
							<li>Faculté de médecine</li>
							<li>Faculté des lettres,des arts</li>
							<li>Faculté des sciences humaines et de la civilisation islamique</li>
							<li>Institut des Sciences et Techniques Appliquées (ISTA)</li>
						</ul>
					</div>
					<div class="col-md-4 footer_grid hpft">
						<h3>Contact Us</h3>
						<ul class="con_inner_text">
							<li>
								<span class="fa fa-map-marker" aria-hidden="true"></span>Lorem ipsum dolor sit amet</li>
							<li>
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
								<a href="mailto:info@example.com">info@univ1.com</a>
							</li>
							<li>
								<span class="fa fa-phone" aria-hidden="true"></span> +2134 567 56007</li>
						</ul>
					</div>
					<div class="col-md-4 footer_grid">
						<h3>LIENS UTILES</h3>
						<ul>
							<li>Ministère de l'Enseignement Supérieur et de la Recherche Scientifique (MESRS)</li>
							<li>Direction Générale de la Recherche Scientifique et du Développement Technologique (DG-RSDT)</li>
							<li>Textes Reglementaires (TR)</li>
							<li>Publications Universitaires</li>
							<li>Agence universitaire de la Francophonie</li>
							<li>Conférence Régionale des Universités de l'Ouest CRUO</li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<p class="copyright">© 2018 All Rights Reserved | Design by Amine Smahi & Ousssama Bonnor</p>
		<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<a href="#home" id="toTop" style="display: block;">
			<span id="toTopHover" style="opacity: 1;"> </span>
		</a>
		<script type="text/javascript" src="js/bootstrap.js"></script>
	</body>

</html>